DB_HOST=localhost
DB_PORT=<port_number>
DB_USER=<username>
DB_PASS=<password>
DB_NAME=<database_name>
/* Hash Key Link: https://10015.io/tools/sha256-encrypt-decrypt */
APP_SECRET=<app_secret_key>
EMAIL_USER=<email_user>
EMAIL_PASS=<email_password>
APP_API_URL=<local_api_url> /* localhost */